.container {
	width: 100%;
}

.gray {
	color: #ccc;
}

.small {
	font-size: 0.9em;
}

/*layout*/
#header {
	height: 50px;
	background: url(/static/img/bgheader.png) left top repeat-x;
}

#content {
	margin-top: 50px;
}

#content .container {
	padding: 0px;
	margin: 0px;
}

#sidebar {
	width: 180px;
	position: absolute;
	top: 30px;
	left: 0px;
}

#main {
	width: auto;
	margin-left: 200px;
	margin-right: 20px;
}

.navbar-header a.navbar-brand {
	color: #333;
}

.ctree {
	float: left;
	width: 25%;
}

.clist {
	float: right;
	width: 75%;
}

.searchbar {
	margin-bottom: 20px;
	height: 30px;
}

.searchbar .lbl {
	float: left;
	line-height: 34px;
	padding: 0px 5px;
}

.page-header h1 {
	font-size: 18px;
	font-weight: bold;
}

.page-header {
	margin-top: 0px;
}

.emptype_1 {
	background: url(/static/js/dhtmlxtree/img/user.png) left center
		no-repeat;
	text-indent: 1em;
}

.emptype_3 {
	background: url(/static/js/dhtmlxtree/img/key.png) left center no-repeat;
	text-indent: 1em;
}

.emptype_2 {
	background: url(/static/js/dhtmlxtree/img/folder.png) left center no-repeat;
	text-indent: 1em;
}

.user-photo {
	width: 120px;
	height: 120px;
	margin: auto;
	position: relative;
	margin-top: 10px;
}

.photo {
	width: 50px;
	height: 50px;
	z-index: 999;
	-webkit-box-shadow: 3px 3px 3px;  
	-moz-box-shadow: 3px 3px 3px;  
	box-shadow: 3px 3px 3px;  
	
}

.banner {
	width: 310px;
	height: 70px;
	z-index: 999;
	-webkit-box-shadow: 3px 3px 3px;  
	-moz-box-shadow: 3px 3px 3px;  
	box-shadow: 3px 3px 3px;  
	
}

.pan {
	width: 100px;
	height: 26px;
	z-index: 999;
	-webkit-box-shadow: 3px 3px 3px;  
	-moz-box-shadow: 3px 3px 3px;  
	box-shadow: 3px 3px 3px;  
	
}

.file-picture {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 120px;
	font-size: 30px;
	z-index: 0;
	padding: 0px;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.logo-picture {
	position: absolute;
	left: 70px;
	top: 0px;
	width: 50px;
	height: 50px;
	font-size: 30px;
	z-index: 0;
	padding: 0px;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.banner-picture {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 310px;
	height: 70px;
	font-size: 30px;
	z-index: 0;
	padding: 0px;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.pan-picture {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 100px;
	height: 26px;
	font-size: 30px;
	z-index: 0;
	padding: 0px;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.status-0 {
	background: url(/static/img/icon-warning.png) left center no-repeat;
	padding-left: 18px;
	color: #fb8410;
}

.status-1 {
	background: url(/static/img/icon-success.png) left center no-repeat;
	padding-left: 18px;
	color: #54a90c;
}

/*sidebar*/
#sidebar ul {
	margin: 0px;
	padding: 0px;
/*	position: fixed;*/
	width: 180px;
}

#sidebar ul li ul {
	position: static;
}

#sidebar ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar ul li a {
	text-decoration: none;
}

#sidebar a.dropdown-toggle {
	color: #333;
	border-bottom: 1px solid #ccc;
	border-top: 0px solid #ccc;
	display: block;
	padding: 8px 10px;
	font-weight: bold;
	background: url(../img/arrow-close.png) left center no-repeat;
	padding-left: 20px;
}

#sidebar a.active {
	color: #333;
	background: url(../img/arrow-open.png) left center no-repeat;
}

#sidebar .submenu {
	display: none;
	margin: 0px;
	padding: 0px;
}

#sidebar .submenu a {
	display: block;
	margin: 0px;
	padding: 0px;
	color: #333;
	padding: 8px 15px;
	text-indent: 0.5em;
	padding-left: 30px;
}

#sidebar .submenu a:hover {
	background: #f6f3e8;
}

#sidebar .submenu a i {
	color: #333;
}

#sidebar .submenu li.active a {
	background: #f3e2a6 right center
		no-repeat;
}

#sidebar .submenu li.active a,#sidebar .submenu li.active a i {
	color: #333;
}

.pagebar {
	height: 35px;
	z-index: 0;
	padding: 2px 10px 0px 10px;
	border-top: 1px solid #ccc;
}

.nav-tabs li.active a{border-bottom:1px solid #fff;}