.wizard ul,.wizard li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.wizard li {
	float: left;
	width: 200px;
	height: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0px 20px 20px 0px;
	background: #f7f7f7;
	border-radius: 4px;
}

.wizard li a.dropdown-toggle {
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.wizard li ul {
	margin: 5px 0px;
}

.wizard li ul li {
	width: auto;
	height: auto;
	float: none;
	padding: 0px;
	border-width: 0px;
	margin: 0px;
}

.wizard li ul li a {
	display: block;
	padding: 3px 0px;
}

.wizard-box ul {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

.wizard-box li {
	float: left;
	list-style-type: none;
	margin-bottom: 30px;
	margin-right: 30px;
	position: relative;
}

.wizard-box li a {
	float: left;
	width: 340px;
	background-color: #eaeaea;
}

.wizard-box li a:hover {
	background-color: #ecf2f4;
}

.wizard-box li span {
	float: left;
	border-radius: 55px;
	width: 70px;
	height: 70px;
	margin: 20px;
}

.wizard-box li h5 {
	position: absolute;
	left: 110px;
	top: 10px;
	color: #333;
	font-size: 20px;
}

.wizard-box li p {
	position: absolute;
	left: 110px;
	top: 50px;
	width: 200px;
	color: #999;
}

.wizard-box li.box-org  span {
	background: #6bbcd7 url(../img/icon_48_user.png) center center no-repeat;
}

.wizard-box li.box-client span {
	background: #e9c842 url(../img/icon_48_set.png) center center no-repeat;
}

.wizard-box li.box-service span {
	background: #e96562 url(../img/icon_48_computer.png) center center
		no-repeat;
}

.section {
	margin-bottom: 20px;
}

.section h4 {
	font-size: 16px;
	margin: 0px;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
	padding-bottom: 10px;
}