/*头像样式*/
.ktx{ width:100%; height:100%; float:none; margin:0px auto; position: relative;
    z-index: 2;}
.kl_box21b {
    float: left;
    height: auto;
    margin: 0px 0.3em 0px 0.3em;
    clear: none;
    width: auto;
    min-height: 2.5em;
    min-width: 2em;
	max-width: 18em;
    position: relative;
	cursor:pointer;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}
.kc_box50 {
    float: left;
    height: 3.1em;
    margin: 0.4em 0px 0px 0.5em;
    clear: none;
    width: 3.1em;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(232,232,232,1.00);
    background-image:url("img/my_file_unknow@2x.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
	border:rgb(204,204,204) 1px solid;
}
.kc_text7c {
    float: left;
    font-size: 0.95em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.3em;
    margin:0.7em 0px 0px 0.5em;
    clear: none;
	color: rgb(0, 0, 0);
    min-height: 0px;
    min-width: 0px;
    overflow: hidden;
    max-width: 70%;
}
.kc_text10c {
    float: left;
    font-size: 0.75em;
    width:65%;
    height: 1.3em;
    text-align: left;
    font-weight: 100;
    line-height: 1.3em;
    margin:0.5em 0px 0px 0.7em;
    clear: none;
    min-height: 0px;
    color: rgb(255, 0, 0);
    min-width: 4em;
    overflow: hidden;
    max-width: 70%;
}
.image {
    display: block;
}
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }