/* 空白文件 */
#file_empty {
    position: absolute;
    top: 58px;
    left: 0px;
    display: none;
	width: 90%;
    padding: 4px 0 0 4px;
}

#file_empty1 {
    position: absolute;
    top: 58px;
    left: 0px;
    display: none;
	width: 90%;
    padding: 4px 0 0 4px;
}

.g_empty {
    display: none;
    position: relative;
}

.g_empty .empty_box {
    position: absolute;
    width: 300px;
    left: 45%;
    font-family: "Microsoft Yahei";
}

/*.sort_folder_empty .empty_box {
    margin-top: -180px;
}
*/
.g_empty .ico {
    margin: 0 auto;
    width: 220px;
    height: 220px;
    background-image: url("../img/g-empty.png");
    background-repeat: no-repeat;
    background-position: center -370px;
}

.sort_folder_empty .ico {
    width: 220px;
    height: 90px;
    background-position: center -805px;
}

.g_empty .title {
    height: 40px;
    line-height: 40px;
    color: #AFB5BF;
    font-size: 32px;
    text-align: center;
}

.sort_folder_empty .title {
    height: 30px;
    line-height: 30px;
    font-style: 22px;
}

.g_empty .content {
    height: 40px;
    line-height: 40px;
    color: #AFB5BF;
    font-style: 18px;
    text-align: center;
}

.sort_folder_empty .content {
    height: 30px;
    line-height: 30px;
    font-style: 16px;
}