.ctree{float:left;width:200px;}
.clist{margin-left:201px; position:relative;border-left:1px solid #ccc; overflow:auto;}
.clist1{position:relative;border-left:1px solid #ccc; overflow:auto;}

#container_detail{position:absolute ;top:0px;left:0px;}



.article{padding:10px;}
.article-info{ background:#f7f7f7;padding:10px;}
.article-info ul{margin:0px;padding:10px 0px; }
.article-info li{float:left;width:30%; list-style-type:none;margin:0px;padding:0px; text-align:left;color:#999; font-size:0.9em;}
.article-info li b{font-weight:normal ;}
.article-body{padding:10px; line-height:25px;}
.col-left{width:10%;float:left;}
.col-middle{width:80%;text-align:center;margin:auto;}
.btn-return{ position:absolute ;left:10px;top:10px; background:url(img/bgbar.png)}


.file-size{color:#999;}
.thumbview{ display:none;}
.thumbpic{border:1px solid #ccc;margin:10px;}
