.kf_Container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 1em;
    position: relative;
	background-color: rgba(255,255,255,1.00);
}

.kf_box {
    float: none;
    height: auto;
    clear: none;
    width: 90%;
    min-height: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 90;
    right: auto;
    display: block;
}

.kf_boxb {
    float: none;
    height: auto;
    clear: none;
    width: 90%;
    min-height: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 90;
    right: auto;
    display: block;
}

.kf_box1 {
    float: none;
    height: 2.2em;
    margin: 0px auto 0.8em;
    clear: none;
    width: 90%;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border: 0.1em solid rgb(96, 96, 96);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.2em 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.2em 0px inset;
}

.kf_box1b {
    float: none;
    height: auto;
    margin: 0px auto 0.8em;
    clear: none;
    width: 90%;
    min-height: 2.2em;
}

.kf_box1b p{
	width:100%;
	height:auto;
	font-size:1em;
	text-align:center;
	font-weight:700;
	line-height:1.5em;
	color:rgb(255,255,255);
	}

.kf_box2 {
    float: none;
    height: 2.4em;
    margin: 0px auto;
    clear: none;
    width: 6.5em;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border: 0.1em solid rgb(96, 96, 96);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.kf_box2b {
    float: none;
    height: 2.4em;
    margin: 0px 0.5em 0px 0.5em;
    clear: none;
    width: 6.5em;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border: 0.1em solid rgb(96, 96, 96);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.kf_text {
    float: none;
    font-size: 1.2em;
    width: 90%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin: 0.5em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(240, 88, 39);
}

.kf_box3 {
    float: none;
    height: 2.8em;
    margin: 1.5em auto 0px;
    clear: none;
    width: 92%;
    min-height: 0px;
    background-color: rgba(241,241,241,1.00);
	box-shadow: rgb(177, 177, 177) 0px 0px 0.2em 0px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.kf_box3b {
    float: none;
    height: 2.8em;
    margin: 1.5em auto 0px;
    clear: none;
    width: 92%;
    min-height: 0px;
    background-color: rgb(183,183,183);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.kf_text1 {
    float: none;
    font-size: 1.2em;
    width: 94%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin: 0.7em auto 0px;
    clear: none;
    min-height: 0px;
    color: rgba(1,139,227,1.00);
    min-width: 0px;
}

.kf_box4 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 40px;
    min-width: 0px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: rgba(255,255,255,1.00);
}

.kf_box5 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 6em;
    min-width: 0px;
	padding-bottom:0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0.2em 0px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0.2em 0px inset;
	position:relative;
	z-index:1;
}

.kf_box5 img{ width:2em; height:2em; position:absolute; right:0.5em; bottom:0.4em; z-index:50;}

.kf_box6 {
    float: left;
    height: 3.5em;
    margin: 0px 0px 0px 0.6em;
    clear: none;
    width: 3.5em;
    min-height: 0px;
    background-color: rgba(232,232,232,1.00);
    background-image:url("img/ttic1.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
	border:rgb(204,204,204) 1px solid;
}

.kf_box7 {
    float: left;
    height: auto;
    margin: 0px 0px 0px 0.8em;
    clear: none;
    width: 70%;
    min-height: 50px;
}

.kf_text2 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
}
.kh_tx1{ color:rgb(240, 88, 39);}

.kh_tx2{ float:left; width:80%; height:auto; font-size:0.8em; line-height:1.5em; color:rgb(71,71,71);
 margin-left:3.5em; margin-top:0.5em;
}


.kf_text3 {
    float: left;
    font-size: 0.9em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(96, 96, 96);
}

.kf_textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
}

.kf_box8 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 8em;
    min-width: 0px;
    padding-top: 0.8em;
	background-color:rgba(255,255,255,1.00);
}

.kf_box9 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 2em;
    min-width: 0px;
    border-bottom-color: rgb(229, 229, 229);
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.kf_text4 {
    float: none;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0px auto;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(65, 65, 65);
}

.kf_text4b {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1.5em;
	margin-left:0.8em;
	margin-top:0.3em;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(65, 65, 65);
}

.kf_box10 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 2em;
    min-width: 0px;
    border-bottom-color: rgb(229, 229, 229);
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.kf_text5 {
    float: none;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0px auto;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(65, 65, 65);
}

.kf_textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
}

.kf_text6 {
    float: none;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
    margin: 1em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(143, 143, 143);
}

.kf_box11 {
    float: none;
    height: auto;
    margin: 0.5em auto 0px;
    clear: none;
    width: 94%;
    min-height: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
	background-color:rgb(255,255,255);
}

.kf_box12 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
    border-bottom-color: rgb(229, 229, 229);
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    padding-bottom: 0.5em;
	padding-top:0.5em;
}

.kf_text7 {
    float: none;
    font-size: 1em;
    width: 94%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0px auto 0.3em;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(96, 96, 96);
}

.kf_box13 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 94%;
    min-height: 2em;
    min-width: 0px;
    border: 0.1em solid rgb(143, 143, 143);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.1em 0px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.1em 0px inset;
}
.kf_box13b {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 94%;
    min-height: 2em;
    min-width: 0px;
}


.kf_text8 {
    float: none;
    font-size: 0.8em;
    width: 94%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0.5em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(164, 164, 164);
}

