.kq_Container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 1em;
	position:relative;
	z-index:1;
	background-color:rgba(255,255,255,1.00);
}
.klfd{ width:100%; height:auto; position: relative; z-index:999; left:0px;}
.xklfd{ width:320px; height:auto; position: relative; z-index:999; margin:0px auto; clear: none;}

.kq_box {
    float: none;
    height: 7em;
    margin: 0px auto 2em auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/kyqt1.jpg");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

.kq_text {
    float: right;
    font-size: 1.2em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: 700;
    line-height: 1.2em;
    clear: none;
    min-height: 0px;
    position: absolute;
    top: auto;
    left: auto;
    right: 4.5em;
    z-index: 50;
    bottom: 0.4em;
    color: rgb(255, 255, 255);
}

.kq_box1 {
    float: left;
    height: 4em;
    clear: none;
    width: 4em;
    min-height: 0px;
    position: absolute;
    top: auto;
    left: auto;
    z-index: 60;
    right: 0.6em;
    bottom: -1.7em;
    background-color: rgba(232,232,232,1.00);
    background-image:url("img/ttic1.png");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    border: 1px solid rgb(224, 224, 224);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.kq_box2 {
    float: none;
    height: auto;
    margin: 1em auto 0px;
    clear: none;
    width: 94%;
    min-height: 100px;
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.8em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.kq_box3 {
    float: left;
    height: auto;
    margin: 0px 0px 0.5em 0%;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
}

.kq_box4 {
    float: left;
    height: 2.5em;
    margin: 0px;
    clear: none;
    width: 2.5em;
    min-height: 0px;
    background-color: rgba(232,232,232,1.00);
    background-image:url("img/ttic1.png");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    border: 1px solid rgb(237, 237, 237);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.kq_text1 {
    float: left;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0.3em auto 0px 0.7em;
    clear: none;
    min-height: 0px;
    color: rgba(0,106,144,1.00);
	max-width:60%;
	overflow:hidden;
}
.zjdco1{ color: rgba(154,154,154,1.00)}
.kq_zjd{ width:80%; height:auto; float:left;}
.kq_box5 {
    float: left;
    height: auto;
    margin: 0.6em 0px 0px 0.7em;
    clear: none;
    width: 80%;
    min-height: 50px;
    min-width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.kq_box5b {
    float: right;
    height: auto;
    margin: 0.6em 0px 0px 0px;
    clear: none;
    width: 83%;
    min-height: 50px;
    min-width: 0px;
	padding-top:0.5em;
	padding-bottom:0.5em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
	background-color:rgba(229,229,229,1.00);
}

.kq_text2 {
    float: left;
    font-size: 0.9em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 0, 0);
    min-width: 0px;
}
.kq_fxt1{ width:3.5em; height:3em; float:left; margin-left:0.6em;
	background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;}
.kq_text2b {
    float: left;
    font-size: 0.8em;
    width: 68%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.3em;
	margin-left:0.6em;
    clear: none;
    min-height: 0px;
    color: rgba(120,120,120,1.00);
    min-width: 0px;
	overflow:hidden;
}


.kq_text2 img, .kq_text6 img{ width:1.5em; height:1.5em; margin:0px 0.2em 0px 0.2em;}

.kq_image {
    float: left;
    width: 30%;
    max-width: 100%;
    height: auto;
    margin: 0.5em 3% 0em 0px;
    clear: none;
    color: rgb(0, 0, 0);
}
.kq_imgbox{
	float: left;
    width: 30%;
    max-width: 100%;
    height:4.5em;
    margin: 0.5em 3% 0em 0px;
    clear: none;
	background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
	}

.kq_box6 {
    float: right;
    height: 1.2em;
    margin: 0.2em 0px 0px;
    clear: none;
    width: 90%;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.kq_image2 {
    float: right;
    width: 2.2em;
    max-width: 100%;
    height: 1em;
    margin-top: 0.2em;
    clear: none;
    color: rgb(0, 0, 0);
}

.kq_box7 {
    float: left;
    height: auto;
    clear: none;
    width: auto;
    min-height: 2.4em;
    position: absolute;
    z-index: 50;
    right: 2.4em;
    left: auto;
    top: -0.7em;
    bottom: auto;
    min-width: 2.4em;
    background-color: rgba(122,152,178,1.00);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    padding-left: 0em;
    padding-right: 0.4em;
    display: block;
}

.kq_box8 {
    float: left;
    height: 1.9em;
    margin: 0.3em 0px 0px 0.4em;
    clear: none;
    width: 4.2em;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.kq_image1 {
    float: left;
    width: 1.4em;
    max-width: 100%;
    height: 1.4em;
    margin: 0.3em 0px 0px 0.5em;
    clear: none;
    color: rgb(0, 0, 0);
}

.kq_text4 {
    float: left;
    font-size: 1.2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0.4em;
    margin-top: 0.3em;
    clear: none;
    min-height: 0px;
    color: rgba(96,118,123,1.00);
}

.kq_text3 {
    float: left;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0.2em 0px 0px;
    clear: none;
    min-height: 0px;
    color: rgb(164, 164, 164);
    min-width: 2em;
}

.kq_text3b {
    float: left;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0.2em 0px 0px 0.5em;
    clear: none;
    min-height: 0px;
    color: rgba(134,134,134,1.00);
    min-width: 2em;
}

.kq_text3c {
    float: left;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0.2em 0px 0px 1.2em;
    clear: none;
    min-height: 0px;
    color: rgba(0,106,144,1.00);
    min-width: 2em;
}
.kq_text3c img{ width:1.1em; height:1.1em; float: left; margin-left:0.3em; margin-right:0.2em; display:block;}

.kq_box9 {
    float: right;
    height: auto;
    margin: 1em 0px 0em;
    clear: none;
    width: 90%;
    min-height: 20px;
    background-color: rgba(237,237,237,1.00);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding-bottom: 0em;
}

.kq_box11 {
    float: left;
    height: 0.8em;
    clear: none;
    width: 1em;
    min-height: 0px;
    position: absolute;
    top: -0.6em;
    left: 1em;
    z-index: 30;
    bottom: auto;
    right: auto;
    display: block;
}

.kq_image4 {
    float: none;
    width: 1em;
    max-width: 100%;
    height: 0.8em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.kq_box10 {
    float: none;
    height: auto;
    margin: 0.2em auto 0px;
    clear: none;
    width: 100%;
    min-height: 1.6em;
    min-width: 0px;
    padding-bottom: 0.3em;
    padding-top: 0.4em;
	
}

.kq_image3 {
    float: left;
    width: 1.2em;
    max-width: 100%;
    height: 1.2em;
    margin: 0px 0px 0px 0.5em;
    clear: none;
    color: rgb(0, 0, 0);
}

.kq_text5 {
    float: right;
    font-size: 0.9em;
    width: 88%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    color: rgba(0,106,144,1.00);
}

.kq_box12 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0em;
    clear: none;
    width: 100%;
    min-height: 50px;
    margin-right: auto;
    min-width: 0px;
	padding-bottom:0.5em;
    border-top: rgba(195,195,195,1.00) 1px solid;
    display: block;
}

.kq_box13 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0.4em;
    clear: none;
    width: 90%;
    min-height: 10px;
    margin-right: auto;
}

.kq_text6 {
    float: none;
    font-size: 0.9em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0.3em auto 0px auto;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(109, 109, 109);
}

.kq_textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0,106,144,1.00);
    font-weight: 700;
}

.kq_box14 {
    float: none;
    height: auto;
    margin: 1em auto 0px;
    clear: none;
    width: 94%;
    min-height: 50px;
}

.kq_box15 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 90%;
    min-height: 8em;
    margin-right: auto;
    min-width: 0px;
    padding-top: 0.5em;
    padding-bottom: 0em;
    border: 1px solid rgb(210, 210, 210);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.2em 0px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.2em 0px inset;
}

.kq_box16 {
    float: none;
    height: auto;
    margin: 0.8em auto 0px;
    clear: none;
    width: 90%;
    min-height: 80px;
    padding-top: 0em;
    border-top-color: rgb(224, 224, 224);
    border-top-width: 0.1em;
    border-top-style: solid;
    padding-bottom: 0.8em;
}
.kq_box16b {
    float: none;
    height: auto;
    margin: 0em auto 0px;
    clear: none;
    width: 100%;
    min-height: 80px;
    padding-top: 0em;
    padding-bottom: 12px;
	background-color: rgb(248, 248, 248);
	border-bottom: rgba(50,50,50,1.00) solid 1px;
}

.kq_image5 {
    float: none;
    width: 2.5em;
    max-width: 100%;
    height: 2.5em;
    margin: 0em 0.7em 0px;
    clear: none;
    color: rgb(0, 0, 0);
}
.kq_image5b {
    float: none;
    width: 27px;
    max-width: 100%;
    height: 27px;
    margin: 0em 6px 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.kq_box17 {
    float: none;
    height: auto;
    margin: 0.25em auto 0px;
    clear: none;
    width: 100%;
    min-height: 20px;
    min-width: 0px;
}
.xkq_box17 {
    float: none;
    height: auto;
    margin: 4px auto 0px;
    clear: none;
    width: 100%;
    min-height: 20px;
    min-width: 0px;
}

.kq_box18 {
    float: none;
    height: auto;
    margin: 0.8em auto 0px;
    clear: none;
    width: 100%;
    min-height: 5em;
    min-width: 0px;
}

.kq_box19 {
    float: left;
    height: 4em;
    margin: 0px 1.3em 1em 0px;
    clear: none;
    width: 4em;
    min-height: 50px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
	
	border:rgb(204,204,204) 0.1em solid;
}

.kq_box21 {
    float: left;
    height: 4em;
    margin: 0px;
    clear: none;
    width: 4em;
    min-height: 0px;
    background-color: rgb(238, 202, 188);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    background-image:url("img/poit17.png");
    background-attachment: scroll;
    -webkit-background-size: 2em;
    background-size: 2em;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.kq_box20 {
    float: left;
    height: 1.4em;
    clear: none;
    width: 1.4em;
    min-height: 0px;
    position: absolute;
    z-index: 50;
    right: -0.3em;
    left: auto;
    top: -0.3em;
    bottom: auto;
}

.kq_image6 {
    float: left;
    width: 1.4em;
    max-width: 100%;
    height: 1.4em;
    margin: 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.kq_box22 {
    float: none;
    height: auto;
    margin: 0.5em auto 0px;
    clear: none;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
	border-top:#CCC 0.1em dashed;
	padding-top:0.8em;
}

.kq_text7 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(109, 109, 109);
}

.kq_box23 {
    float: left;
    height: auto;
    margin: 1em 0px 0px;
    clear: none;
    width: 100%;
    min-height: 2em;
    min-width: 0px;
}
.kq_tty1 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0px 0px 0px 0.5em;
    clear: none;
    min-height: 0px;
    color: rgb(52, 73, 90);
}

