

.msg-list{padding:5px;}
.msg-list div.active{border:1px solid #ffdb8d; background:#ffedc4;}
.msg-item{border:1px solid #fff;border-radius:4px; font-size:12px; clear:both;}
.msg-info{padding:5px 10px;}
.msg-content{padding:5px 20px;}
.msg-content *{font-size:12px;}
.msg-send .msg-info{color:#42b475}
.msg-recv .msg-info{color:#006efe;}

.msg-system .kl_text6{position: relative;font-size:11px;color:#999;text-align:center;}

.file-size{color:#999;}
.thumbview{ display:none;}
.thumbpic{border:1px solid #ccc;margin:10px;}