
.ktb_box {
    float: none;
    height: 24px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(186, 218, 248);
	position:fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.ktb_box26 {
    float: none;
    height: 24px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(186, 218, 248);
	position:fixed;
	bottom:0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.ktb_box1 {
    float: left;
    height: 2.9em;
    margin: 0px;
    clear: none;
    width: auto;
    min-height: 0px;
}

.ktb_image {
    float: left;
    width: 6.875em;
    max-width: none;
    height: 2em;
    margin: 0.5em 0px 0px 0.4em;
    clear: none;
    color: rgb(0, 0, 0);
}

.ktb_text {
    float: left;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
	position:absolute;
	z-index:90;
	top:1.4em;
	left:2.8em;
}

.ktb_box2 {
    float: left;
    height: 2.2em;
    clear: none;
    width: auto;
    min-height: 0px;
    position: absolute;
    top: 0.4em;
    left: auto;
    z-index: 50;
    right: 0.3em;
    bottom: auto;
    min-width: 2.2em;
}

.ktb_image1 {
    float: right;
    max-width: 100%;
    height: 12px;
    margin-left: auto;
    margin-top: 6px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 6px;
}
.ktb_image1b {
    max-width: 100%;
    height: 14px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 2px;
}

.ktb_box3 {
    float: none;
    height: 3em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgb(240, 88, 39);
    overflow: hidden;
}

.ktb_box4 {
    float: left;
    height: 2.6em;
    clear: none;
    width: auto;
    min-height: 0px;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    z-index: 50;
    min-width: 2.6em;
    right: auto;
    bottom: auto;
}

.ktb_image2 {
    float: none;
    width: 2.6em;
    max-width: 100%;
    height: 2.6em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.ktb_text1 {
    float: none;
    font-size: 1.1em;
    width: 65%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: auto;
    margin-top: 1em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    min-width: 0px;
    color: rgb(255, 255, 255);
}

.ktb_box5 {
    float: none;
    height: 3em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(240, 88, 39);
}

.ktb_box6 {
    float: left;
    height: 2.6em;
    clear: none;
    width: auto;
    min-height: 0px;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    z-index: 50;
    min-width: 2.6em;
    right: auto;
    bottom: auto;
}

.ktb_image3 {
    float: left;
    width: 0.8em;
    max-width: 100%;
    height: 1.2em;
    margin-left: 0%;
    margin-top: 0.85em;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
}

.ktb_text4 {
    float: left;
    font-size: 0.8em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: 0.6em;
	margin-top: 0.3em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    min-width: 0px;
    color: rgb(0, 0, 0);
}

.ktb_text2 {
    float: left;
    font-size: 1.1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin: 0.8em 0px 0px 0.3em;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
}

.ktb_box7 {
    float: left;
    height: 2.6em;
    clear: none;
    width: auto;
    min-height: 0px;
    position: absolute;
    top: 0.3em;
    left: auto;
    z-index: 50;
    min-width: 2.6em;
    right: 0.3em;
    bottom: auto;
}

.ktb_image4 {
    float: left;
    width: 1.2em;
    max-width: 100%;
    height: 1.2em;
    margin-left: 0%;
    margin-top: 0.85em;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
}

.ktb_text3 {
    float: left;
    font-size: 1.1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin: 0.8em 0px 0px 0.2em;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
}

.ktb_box8 {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
    background-color: rgb(248, 248, 248);
	box-shadow: rgb(207, 207, 207) 0px 0.1em 0px 0px inset;
    overflow: hidden;
}

.ktb_box8b {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
    background-color: rgb(248, 248, 248);
	box-shadow: rgb(207, 207, 207) 0px 0.1em 0px 0px inset;
    overflow: hidden;
}

.ktb_box9 {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 25%;
    min-height: 0px;
	position:relative;
}



.ktb_box9b {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 20%;
    min-height: 0px;
    background-color: rgb(240, 88, 39);
}

.ktb_box9c {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 25%;
    min-height: 0px;
	position:relative;
}
.ktb_box9c2 {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 25%;
    min-height: 0px;
    background-color: rgb(240, 88, 39);
}
.ktb_box9d {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 33.3%;
    min-height: 0px;
	position:relative;
}
.ktb_image5 {
    float: none;
    width: 1.8em;
    max-width: none;
    height: 1.8em;
    margin-left: auto;
    margin-top: 0.3em;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.ktb_text5 {
    float: none;
    font-size: 0.7em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 255, 255);
}

.ktb_text5a {
    float: none;
    font-size: 0.7em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(95, 100, 110);
}
.ktb_text5b {
    float: none;
    font-size: 0.7em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgba(1,139,227,1.00);
}

.ktb_box10 {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(13, 115, 189);
    box-shadow: rgb(240, 88, 39) -0.3em 0px 0px 0px inset;
    overflow: hidden;
}

.ktb_box11 {
    float: right;
    height: 3.1em;
    margin: 0px;
    clear: none;
    width: 45%;
    min-height: 0px;
    padding: 0px;
}

.ktb_image6 {
    float: left;
    width: 2.3em;
    max-width: none;
    height: 2.3em;
    margin-left: 0%;
    margin-top: 0.5em;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
}

.ktb_text6 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 1.2em 0.3em 0px 0.2em;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgba(1,139,227,1.00);
}

.ktb_box12 {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
    background-color: rgb(13, 115, 189);
    overflow: hidden;
}

.ktb_box13 {
    float: none;
    height: 2.3em;
    margin: 0.5em auto 0px;
    clear: none;
    width: 70%;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
	box-shadow: rgb(177, 177, 177) 0px 0px 0.2em 0px;
}

.ktb_text7 {
    float: none;
    font-size: 1.1em;
    width: 92%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0.4em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgba(1,139,227,1.00);
}

.ktb_box14 {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
    background-color: rgb(13, 115, 189);
    overflow: hidden;
}

.ktb_box15 {
    float: none;
    height: 2.3em;
    margin: 0.2em 0.5em 0px;
    clear: none;
    width: 40%;
    min-height: 0px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    background-color: rgb(255, 255, 255);
	box-shadow: rgb(177, 177, 177) 0px 0px 0.2em 0px;
}

.ktb_text8 {
    float: none;
    font-size: 1.1em;
    width: 92%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0.4em auto 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgba(1,139,227,1.00);
}

.ktb_box16 {
    float: none;
    height: 2.6em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgba(255,255,255,1.00);
}

.ktb_box16b {
    float: none;
    height: 2.6em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

.ktb_box17 {
    float: none;
    height: 2em;
    margin: 0.3em auto 0px;
    clear: none;
    width: 90%;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
	box-shadow: rgb(177, 177, 177) 0px 0px 0.2em 0px inset;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.ktb_box17b {
    float: none;
    height: 2em;
    margin: 0.3em auto 0px;
    clear: none;
    width: 90%;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.2em 0px inset;
}

.ktb_box18 {
    float: right;
    height: 2em;
    margin: 0px;
    clear: none;
    width: 2em;
    min-height: 0px;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.ktb_image7 {
    float: none;
    width: 1.5em;
    max-width: none;
    height: 1.5em;
    margin: 0.3em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.ktb_box19 {
    float: none;
    height: 2.8em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
	-webkit-box-shadow: rgba(118,118,118,1.00) 0px -0.1em 0px 0px inset;
    box-shadow: rgba(118,118,118,1.00) 0px -0.1em 0px 0px inset;
}

.ktb_box19b {
    float: none;
    height: 2.4em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
	-webkit-box-shadow: rgba(196,196,196,1.00) 0px -1px 0px 0px inset;
    box-shadow: rgba(196,196,196,1.00) 0px -1px 0px 0px inset;
}

.ktb_box20 {
    float: left;
    height: 2.8em;
    clear: none;
    width: 1.8em;
    min-height: 0px;
    position: absolute;
    z-index: 50;
    top: 0px;
    left: 0px;
}

.ktb_image8 {
    float: none;
    width: 1em;
    max-width: 100%;
    height: 1.5em;
    margin: 0.7em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.ktb_box22 {
    float: right;
    height: 2.8em;
    clear: none;
    width: 1.8em;
    min-height: 0px;
    position: absolute;
    z-index: 50;
    top: 0px;
    left: auto;
    right: 0px;
}

.ktb_image9 {
    float: none;
    width: 1em;
    max-width: 100%;
    height: 1.5em;
    margin: 0.7em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.ktb_box21 {
    float: none;
    height: 2.7em;
    clear: none;
    width: 82%;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.ktb_text9 {
    float: left;
    font-size: 1.1em;
    width: auto;
    height: 2.5em;
    text-align: left;
    font-weight: 700;
    line-height: 2.7em;
    margin: 0em 0.3em 0px;
    clear: none;
    min-height: 0px;
    color: rgb(103, 103, 103);
}


.ktb_box23 {
    float: none;
    height: auto;
    margin: 0px;
    clear: none;
    width: 100%;
    min-height: 51px;
    background-color: rgb(248, 248, 248);
}

.ktb_box24 {
    float: left;
    height: auto;
    margin: 5px 0px 0px 8px;
    clear: none;
    width: 51%;
    min-height: 32px;
	box-shadow: rgb(177, 177, 177) 0px 0px 0.3px 0px inset;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
	
}

.ktb_box25 {
    float: left;
    height: 32px;
    margin: 4px auto 0px auto;
    clear: none;
    width: 38px;
    min-height: 0px;
}

.ktb_box25b {
    float: left;
    height: 2em;
    margin: 0.6em auto 0px 0.3em;
    clear: none;
    width: 2.4em;
    min-height: 0px;
}

.klbbx1{ width:14%; height:auto; float:left; margin-left:5px;}
.klbbx{ width:28%; height:auto; float:left; margin-left:5px;}
.ktb_image10 {
    float: none;
    width: 32px;
    max-width: 100%;
    height: 32px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}