
.zs2tb_box {
    float: none;
    height: 3em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: auto;
    min-width: 0px;
    -webkit-box-shadow: rgb(186, 186, 186) 0px -1px 0px 0px inset;
    box-shadow: rgb(186, 186, 186) 0px -1px 0px 0px inset;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box1 {
    float: none;
    height: 1.9em;
    margin-left: auto;
    margin-top: 0.6em;
    clear: none;
    width: 64%;
    min-height: 0px;
    margin-right: auto;
    border: solid rgb(168, 168, 168);
	border-width: 1px 1px 1px 1px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    overflow: hidden;
	color: rgb(91, 91, 91);
	position:relative;
	z-index:20;
}

.zs2tb_box2a {
    float: left;
    height: 1.9em;
    margin: 0px;s
    clear: none;
    width: 33.3333%;
    min-height: 0px;
	position:relative;
	z-index:1;
}
.zs2tb_box2b {
    float: left;
    height: 1.9em;
    margin: 0px;
    clear: none;
    width: 33.3333%;
    min-height: 0px;
	border-color:rgb(168, 168, 168);
	border-width: 0px 1px 0px 1px;
	border-style:solid;
	position:relative;
	z-index:1;
}

.zsbtco1{background-color: rgb(240, 88, 39);color: rgb(255, 255, 255);}
.zs2tb_box2a p, .zs2tb_box2b p {
    float: none;
    font-size: 0.9em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
	
}

.zs2tb_box2b p {
    float: none;
    font-size: 0.9em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
}

.zs2tb_box5 {
    float: none;
    height: 3em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 0px;
    margin-right: auto;
    min-width: 0px;
    -webkit-box-shadow: rgb(186, 186, 186) 0px -1px 0px 0px inset;
    box-shadow: rgb(186, 186, 186) 0px -1px 0px 0px inset;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box7 {
    float: none;
    height: 1.9em;
    margin-left: auto;
    margin-top: 0.6em;
    clear: none;
    width: 60%;
    min-height: 0px;
    border: solid rgb(168, 168, 168);
	border-width: 1px 1px 1px 1px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    overflow: hidden;
    margin-right: auto;
	color: rgb(91, 91, 91);
	position:relative;
	z-index:20;
}

.zs2tb_box8a {
    float: left;
    height: 1.9em;
    margin: 0px;
    clear: none;
    width: 50%;
    min-height: 0px;
	border-right:rgb(168, 168, 168) 1px solid;
	position:relative;
	z-index:1;
}

.zs2tb_box8a p {
    float: none;
    font-size: 0.9em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    
}

.zs2tb_box8b {
    float: left;
    height: 1.9em;
    margin: 0px;
    clear: none;
    width: 50%;
    min-height: 0px;
	position:relative;
	z-index:1;
}

.zs2tb_box8b p {
    float: none;
    font-size: 0.9em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
}

.zs2tb_box4 {
    float: left;
    height: 1.8em;
    margin: 0px;
    clear: none;
    width: 33.33%;
    min-height: 0px;
}

.zs2tb_text2 {
    float: none;
    font-size: 0.9em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(91, 91, 91);
}

.zs2tb_box6 {
    float: left;
    height: 3em;
    clear: none;
    width: 16%;
    min-height: 10px;
    position: absolute;
    top: 0px;
    left: 0.3em;
    right: auto;
    overflow: hidden;
}

.zs2tb_image {
    float: left;
    width: 1.3em;
    max-width: 100%;
    height: 1.3em;
    margin: 0.9em 0px 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.zs2tb_text3 {
    float: left;
    font-size: 0.75em;
    width: 55%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 1.5em 0px 0px;
    clear: none;
    min-height: 0px;
    color: rgb(240, 88, 39);
    overflow: hidden;
}

.zs2tb_box10 {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 50px;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box11a {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 25%;
    min-height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box12 {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 22%;
    min-height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box11a img {
    float: none;
    width: 1.9em;
    max-width: 100%;
    height: 1.9em;
    margin: 0.2em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
	display:block;
}

.zs2tb_box11a p {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em auto 0px;
    clear: none;
    min-height: 0px;
    color: rgb(91, 91, 91);
}

.zs2tb_box13 {
    float: none;
    height: 3.2em;
    margin: 0px auto;
    clear: none;
    width: 3.2em;
    min-height: 50px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: rgb(214, 214, 214);
    background-image:url("img/bticn9b.png");
    background-attachment: scroll;
    -webkit-background-size: 2.2em;
    background-size: 2.2em;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

.zs2tb_box11b {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 25%;
    min-height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box11b img {
    float: none;
    width: 1.9em;
    max-width: 100%;
    height: 1.9em;
    margin: 0.2em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
	display:block;
}

.zs2tb_box11b p {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em auto 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 138, 226);
}

.zs2tb_box12a {
    float: left;
    height: 3.2em;
    margin: 0px;
    clear: none;
    width: 20%;
    min-height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.zs2tb_box12a img {
    float: none;
    width: 1.9em;
    max-width: 100%;
    height: 1.9em;
    margin: 0.2em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
	display:block;
}

.zs2tb_box12a p {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em auto 0px;
    clear: none;
    min-height: 0px;
    color: rgb(91, 91, 91);
}

.zs2tb_box15 {
    float: right;
    height: 16px;
    clear: none;
    width: 16px;
    min-height: 0px;
    position: absolute;
    top: auto;
    left: auto;
    z-index: 99;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}
/*附属搜索导航*/
.fzs_box16 {
    float: none;
    height: 2.6em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgba(255,255,255,1.00);
}

.fzs_box16b {
    float: none;
    height: 2.6em;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

.fzs_box17 {
    float: left;
    height: 2em;
    margin: 0.3em auto  auto 0.5em;
    clear: none;
    width: 76%;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
	box-shadow: rgb(177, 177, 177) 0px 0px 0.2em 0px inset;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.fzs_box17b {
    float: none;
    height: 2em;
    margin: 0.3em auto 0px;
    clear: none;
    width: 90%;
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0.2em 0px inset;
}

.fzs_box18 {
    float: right;
    height: 2em;
    margin: 0px;
    clear: none;
    width: 2em;
    min-height: 0px;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.fzs_image7 {
    float: none;
    width: 1.5em;
    max-width: none;
    height: 1.5em;
    margin: 0.3em auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

.fzs_text6 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0.8em auto auto 1.2em;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(240, 88, 39);
	display:block;
}

.selectmenu{
    width: 100px;
    border: 1px solid #ccc;
    background:#fff;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
	z-index:999;
}
.selectmenu li{
    padding-left: 10px;
    line-height: 30px;
    cursor: pointer;
	font-size:12px; 
	font-family: '微软雅黑',Verdana, Arial, Helvetica, sans-serif;
}
.selectmenu li:hover{
    background: #e9f3fd;
}