#header {
    height: 50px;
    background: url(/static/img/bgheader.png) left top repeat-x;
}

#content{
	margin-top:50px;
	height:100%;
}

#sidebar {
    width: 160px;
    position: absolute;
    top: 50px;
    left: 0px;
}
#sidebar ul {
	margin:0;
	padding:0;
}

#sidebar a {
    display: block;
    margin: 0px;
    padding: 0px;
    color: #333;
    padding: 8px 15px;
    font-weight:bold;
}

#sidebar .selected{
	background-color:#f3e2a6;
}

#main{
	position: absolute;
	left:160px;
    padding: 0px;
    width:85%;
	height:100%;
}

#create_form {
    margin: 0px 250px 0px 160px;
    padding: 0px;
	height:100%;
}


#user_tree{
	position: absolute;
	right: 0px;
	width: 250px;
	height:100%;
	margin: 0px;
	padding: 0px;
}


.dotlist {
    margin: 0px;
    padding: 0px;
}

.dotlist li {
    float: left;
    margin: 0px;
    padding: 0px 10px 0px 4px;
    list-style-type: none;
    color: #fff;
    background: #52687e;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.dotlist li span {
    float: left;
    padding: 2px;
}

.dotlist li i {
    float: right;
    width: 10px;
    height: 20px;
    background: url(/static/img/delete_white.png) center center no-repeat;
}






.mypanel{border-radius:4px;border:1px solid #999999;margin:0px;width:auto;}
.mypanel-title{border-radius:4px 4px 0px 0px;background:#fff url(../img/bg_out.png) left top repeat-x;padding:5px;}
.mypanel-body{padding:5px;}

.section{padding:10px;}
.padding{padding:5px;}
.input-search{padding:2px 0px 2px 25px; background:#fff url(../img/icon_search.png) 5px center no-repeat;height:25px; line-height:20px;border-radius:10px;}


.box-form{margin-right:270px; background:#f3f3f3;}
.box-select{position:absolute ;width:250px; right:0px;top:0px; bottom:0px;}

.flat-tabs{ background:#e9e9e9;}
.flat-tabs ul{margin:0px;padding:0px;}
.flat-tabs li{float:left; list-style-type:none;padding:4px; }
.flat-tabs li a{float:left; color:#333;padding:0px 15px;}
.flat-tabs li a:active{ text-decoration:none;}
.flat-tabs li.active a{border:1px solid #a9a9a9;border-radius:2px; background:#d8d8d8;}